{% extends 'base.html' %}

{% block title %}{{ series }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>{{ series.name }}</h2>
            <img class="rounded mx-auto d-block m-4" src="{{ series.foto.url }}" alt="{{ series.name }}">
            <p>Lenght: {{ series.length }} hours</p>
            <p>Number of seasons: {{ series.season }}</p>
            <p>Number of episodes: {{ series.episodes }}</p>
            <hr>
            <h4>Genres</h4>
            <ul style="display: inline-block; text-align: left">
                {% for genre in series.genres.all %}
                    <li>{{ genre.name }}</li>
                {% endfor %}
            </ul>
        <hr>
        <h4>Directors</h4>
         {% for director in series.directors.all %}
                    <li>{{ director.name }} {{ director.sname }}</li>
                {% endfor %}
        </div>
        <div class="col-md-6 text-center">
            <h3>Storyline</h3>
            <div class="container">{{ series.description }}</div>
        </div>
    </div>
{% endblock %}