{% extends 'base.html' %}
{% block title %}Seriály{% endblock %}

{% block content %}
    <div class="p-2 text-white text-center bg-dark">
        <h1 class="fs-1">Nejdelší seriál</h1>
        <a href=""><img class="rounded mx-auto d-block m-4" src="{{ longest_series.foto.url }}"
                        style="width:300px; height: 350px;"
                        alt="{{ longest_series.name }}"></a>
     <p><span class="fs-5 fw-bold">{{ longest_series.name }}</span>
    </div>
    <div class="p-3 text-center">
        <h2 class="fs-2 ">Nejsledovanější seriály</h2>
    <div class="row">
        {% for featured_series in featured_series.all %}
            <div class="column">
            <a href=""><img class="rounded m-4" src="{{ featured_series.foto.url }}"
                            style="width:300px;height: 380px;"
                            alt="{{ featured_series.name }}"></a>
            <p><span class="fs-5 fw-bold">{{ featured_series.name }}</span>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}